{% extends "encyclopedia/layout.html" %}

{% block title %}
  Create New Page
{% endblock %}

{% block body %}
  <h1>Create New Page</h1>

  {% if error %}
    <p style="color: red;">{{ error }}</p>
  {% endif %}

  <form method="post">
    {% csrf_token %}
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" placeholder="Enter title">
      <br />
      <label for="content">Content:</label>
      <br />
      <textarea id="content" name="content" rows="5" placeholder="Enter markdown content"></textarea>
    <button type="submit">Save Page</button>
  </form>
  
{% endblock %}
